node_modules/
**/node_modules/
.git/
**/Dockerfile*
.dockerignore
**/.dockerignore
*.log*
**/*.log*
.env*
**/.env*
coverage/
**/coverage/
.next/
**/.next/
.venv/
**/.venv/
**/__pycache__/
.idea/
.vscode/
